@import '../assets/fonts/font.css';

.title {
    color : #787A91;
    font-family: 'Asac';
    font-size: 8rem;
    line-height: 3rem;
    text-shadow: 1rem 1rem 0 #02082c;
}

.goTest {
    background-color: #EEEEEE;
    border-color: transparent;
    border-radius: 4rem;
    width: 30rem;
    box-shadow: 0.5rem 0.5rem 0 0 #02082c;


    padding: 1rem;
    margin-top: 10rem;


    font-family: 'OAGothic';
    font-size: 3rem;
    color:#02082c;
}

.uno {
    animation : appear 1ms 500ms;
    animation-fill-mode: forwards;
}

.due {
    animation : appear 1ms 1000ms;
    animation-fill-mode: forwards;
}

.tre {
    animation : appear 1ms 1500ms;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        color: #787A91;
    }
    100% {
        color: #EEEEEE;
    }
}

/*
0F044C
141E61
787A91
EEEEEE
*/
