@import '../assets/fonts/font.css';

.Home {
    margin-top: 10rem;
}

.title {
    animation-fill-mode: forwards;


    color : #787A91;
    font-family: 'Asac';
    font-size: 8rem;
    line-height: 3rem;
    text-shadow: 1rem 1rem 0 #02082c;
}

.goTest {
    background-color: #EEEEEE;
    border-color: transparent;
    border-radius: 4rem;
    width: 30rem;
    box-shadow: 0.5rem 0.5rem 0 0 #02082c;


    padding: 1rem;
    margin-top: 4rem;


    font-family: 'OAGothic';
    font-size: 3rem;
    color:#02082c;
}

.uno {animation : appear 1ms 500ms forwards;}

.due {animation : appear 1ms 1000ms forwards;}

.tre {animation : appear 1ms 1500ms forwards;}

@keyframes appear {
    0% {
        color: #787A91;
    }
    100% {
        color: #EEEEEE;
    }
}

/*
0F044C
141E61
787A91
EEEEEE
*/
