@import '../assets/fonts/font.css';

.Home {
    margin-top: 9rem;
}

.title {
    animation-fill-mode: forwards;


    color : #787A91;
    font-family: 'Asac';
    font-size: 4rem;
    margin: 0;
    text-shadow: 0.7rem 0.7rem 0 #02082c;
}

.goTest {
    background-color: #EEEEEE;
    border-color: transparent;
    border-radius: 3rem;
    width: 20rem;
    box-shadow: 0.3rem 0.3rem 0 0 #02082c;


    padding: 0.2rem;
    margin-top: 0.5rem;


    font-family: 'OAGothic';
    font-size: 2.1rem;
    font-weight: 800;
    color:#02082c;
}

.uno {animation : appear 1ms 500ms forwards;}

.due {animation : appear 1ms 1000ms forwards;}

.tre {animation : appear 1ms 1500ms forwards;}

@keyframes appear {
    0% {
        color: #787A91;
    }
    100% {
        color: #EEEEEE;
    }
}

/*
0F044C
141E61
787A91
EEEEEE
*/

.countBox {
    height: 3rem;
    margin-top: 8rem;
    overflow: hidden;
}

#countText {
    font-family: 'OAGothic';
    font-size: 1.2rem;
    color: #EEEEEE;

    animation: countTextUp 1s 2s ease-in-out forwards;
    transform: translate(0, 5rem);
}

@keyframes countTextUp {
    0% {
        transform: translate(0, 5rem);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0rem);
        opacity: 1;
    }
}