@import '../assets/fonts/font.css';

.QnA {
    height: 100vh;
}

.question {
    font-family: OAGothic;
    font-weight: 800;
    color: #EEEEEE;
    font-size: 2.7rem;
    text-shadow: 0.4rem 0.4rem 0 #02082c;


    padding: 3rem;
    padding-top: 8rem;
}