@import '../../assets/fonts/font.css';

.a {
    font-family: 'OAGothic';
    font-weight: 500;
    font-size: 1.3rem;
    color: #02082c;

    padding:0.8rem;
    margin: 1rem;
    background-color: #EEEEEE;
    border-color: transparent;
    border-radius: 2rem;
    width: 20rem;
    box-shadow: 0.5rem 0.5rem 0 0 #02082c;

    
    transform: scale(1, 1);
    transition: all 100ms ease-in-out;
}

.a:active {
    transform: scale(0.9, 0.9);
    transition: all 100ms ease-in-out;
}