@import '../../assets/fonts/font.css';

.headerTitle {
    margin: 0;
    position: absolute;


    font-family: 'Asac';
    font-size: 2rem;
    color: #EEEEEE;
    text-shadow: 0.2rem 0.2rem 0 black;
}

.oshi {
    animation: textChangeOshi 10s 1s infinite ease-in-out forwards;
    transform: translate(-1.8rem, 3rem);
}
.yo {
    animation: textChangeName 10s 1s infinite ease-in-out forwards;
    transform: translate(-0.9rem, 3rem);
}
.gura {
    animation: textChangeName 10s 0.5s infinite ease-in-out forwards;
    transform: translate(-1.8rem, 3rem);
}
.marine {
    animation: textChangeName 10s 0s infinite ease-in-out forwards;
    transform: translate(-1.8rem, 3rem);
}

.dayo { transform: translate(1.9rem, 0); }

@keyframes textChangeOshi {
    100% {
        transform: translate(-1.8rem, 3rem);
    }
    95% {
        transform: translate(-1.8rem, 0);
    }
    15% {
        transform: translate(-1.8rem, 0);
    }
    10% {
        transform: translate(-1.8rem, -3rem);
    }
    0% {
        transform: translate(-1.8rem, -3rem);
    }
}

@keyframes textChangeName {
    100% {
        transform: translate(-1.8rem, 3rem);
    }
    15% {
        transform: translate(-1.8rem, 3rem);
    }
    10% {
        transform: translate(-1.8rem, 0);
    }
    5% {
        transform: translate(-1.8rem, -3rem);
    }
    0% {
        transform: translate(-1.8rem, -3rem);
    }
}

header {
    width: 100vw;
    background-image: linear-gradient(to bottom, #0F044C, transparent);
    height: 3rem;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

.headerLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

@keyframes appear {
    0% {
        color: #787A91;
    }
    25% {
        color: #787A91;
    }
    75% {
        color: #787A91;
    }
    100% {
        color: #EEEEEE;
    }
}